<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Gilda+Display&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="footer">
            <div class="border"></div>
            <div class="rectangle">
                <span class="contacts">Contact us</span>
                <div class="icons">
                    <img class="facebook" src="./images/facebook.png" alt="">
                    <img class="youtube" src="./images/youtube.png" alt="">
                    <img class="instagram" src="./images/instagram.png" alt="">
                    <img class="telegram" src="./images/telegram.png" alt="">
                </div>
            </div>
        </div>
    </body>
</html>